In [261]:
# import commands

import pandas as pd
import numpy as np

# Analysis Pipeline

## Loading

In [262]:
mh = pd.read_csv("../../data/raw/mentalhealthintech.csv")
mh

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,8/27/2014 11:29,37,Female,United States,IL,NaN,No,Yes,Often,25-Jun,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,8/27/2014 11:29,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,8/27/2014 11:29,32,Male,Canada,NaN,NaN,No,No,Rarely,25-Jun,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,8/27/2014 11:29,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,8/27/2014 11:30,31,Male,United States,TX,NaN,No,No,Never,100-500,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,9/12/2015 11:17,26,male,United Kingdom,NaN,No,No,Yes,NaN,26-100,...,Somewhat easy,No,No,Some of them,Some of them,No,No,Don't know,No,NaN
1255,9/26/2015 1:07,32,Male,United States,IL,No,Yes,Yes,Often,26-100,...,Somewhat difficult,No,No,Some of them,Yes,No,No,Yes,No,NaN
1256,11/7/2015 12:36,34,male,United States,CA,No,Yes,Yes,Sometimes,More than 1000,...,Somewhat difficult,Yes,Yes,No,No,No,No,No,No,NaN
1257,11/30/2015 21:25,46,f,United States,NC,No,No,No,NaN,100-500,...,Don't know,Yes,No,No,No,No,No,No,No,NaN
1258,2/1/2016 23:04,25,Male,United States,IL,No,Yes,Yes,Sometimes,26-100,...,Don't know,Maybe,No,Some of them,No,No,No,Don't know,No,NaN

In [263]:
mh.columns

Index(['Timestamp', 'Age', 'Gender', 'Country', 'state', 'self_employed',
       'family_history', 'treatment', 'work_interfere', 'no_employees',
       'remote_work', 'tech_company', 'benefits', 'care_options',
       'wellness_program', 'seek_help', 'anonymity', 'leave',
       'mental_health_consequence', 'phys_health_consequence', 'coworkers',
       'supervisor', 'mental_health_interview', 'phys_health_interview',
       'mental_vs_physical', 'obs_consequence', 'comments'],
      dtype='object')

## Cleaning

In [264]:
# keeping only desired/relevant columns
mh_cleaned = mh[['self_employed', 'family_history', 'treatment', 'work_interfere', 'tech_company', 'benefits', 'care_options', 'wellness_program', 'seek_help']]
mh_cleaned

,self_employed,family_history,treatment,work_interfere,tech_company,benefits,care_options,wellness_program,seek_help
0,NaN,No,Yes,Often,Yes,Yes,Not sure,No,Yes
1,NaN,No,No,Rarely,No,Don't know,No,Don't know,Don't know
2,NaN,No,No,Rarely,Yes,No,No,No,No
3,NaN,Yes,Yes,Often,Yes,No,Yes,No,No
4,NaN,No,No,Never,Yes,Yes,No,Don't know,Don't know
...,...,...,...,...,...,...,...,...,...
1254,No,No,Yes,NaN,Yes,No,No,No,No
1255,No,Yes,Yes,Often,Yes,Yes,Yes,No,No
1256,No,Yes,Yes,Sometimes,Yes,Yes,Yes,No,No
1257,No,No,No,NaN,Yes,No,Yes,No,No
1258,No,Yes,Yes,Sometimes,No,Yes,Yes,No,No

In [265]:
# keepings respondents that work for a company/employer
mh_cleaned = mh_cleaned[mh_cleaned['self_employed'].str.find('Yes') == -1]
mh_cleaned

,self_employed,family_history,treatment,work_interfere,tech_company,benefits,care_options,wellness_program,seek_help
20,No,Yes,Yes,Sometimes,Yes,Yes,Yes,No,No
22,No,No,Yes,Often,Yes,Yes,Yes,No,No
23,No,No,Yes,Never,No,Don't know,No,No,Don't know
24,No,Yes,Yes,Rarely,Yes,Yes,Not sure,Don't know,Yes
25,No,Yes,Yes,Sometimes,No,Yes,Yes,No,Don't know
...,...,...,...,...,...,...,...,...,...
1254,No,No,Yes,NaN,Yes,No,No,No,No
1255,No,Yes,Yes,Often,Yes,Yes,Yes,No,No
1256,No,Yes,Yes,Sometimes,Yes,Yes,Yes,No,No
1257,No,No,No,NaN,Yes,No,Yes,No,No
1258,No,Yes,Yes,Sometimes,No,Yes,Yes,No,No

In [266]:
mh_cleaned = mh_cleaned[mh_cleaned['tech_company'].str.find('No') == -1]
mh_cleaned

,self_employed,family_history,treatment,work_interfere,tech_company,benefits,care_options,wellness_program,seek_help
20,No,Yes,Yes,Sometimes,Yes,Yes,Yes,No,No
22,No,No,Yes,Often,Yes,Yes,Yes,No,No
24,No,Yes,Yes,Rarely,Yes,Yes,Not sure,Don't know,Yes
26,No,No,No,NaN,Yes,Don't know,Not sure,No,Don't know
27,No,Yes,Yes,Rarely,Yes,Yes,Yes,Don't know,Don't know
...,...,...,...,...,...,...,...,...,...
1252,No,Yes,Yes,Sometimes,Yes,Yes,Yes,Yes,No
1254,No,No,Yes,NaN,Yes,No,No,No,No
1255,No,Yes,Yes,Often,Yes,Yes,Yes,No,No
1256,No,Yes,Yes,Sometimes,Yes,Yes,Yes,No,No
1257,No,No,No,NaN,Yes,No,Yes,No,No

In [267]:
# removing missing values
mh_cleaned = mh_cleaned.dropna(axis=0, how='any').reset_index()
mh_cleaned

,index,self_employed,family_history,treatment,work_interfere,tech_company,benefits,care_options,wellness_program,seek_help
0,20,No,Yes,Yes,Sometimes,Yes,Yes,Yes,No,No
1,22,No,No,Yes,Often,Yes,Yes,Yes,No,No
2,24,No,Yes,Yes,Rarely,Yes,Yes,Not sure,Don't know,Yes
3,27,No,Yes,Yes,Rarely,Yes,Yes,Yes,Don't know,Don't know
4,28,No,No,Yes,Sometimes,Yes,Don't know,Not sure,No,Don't know
...,...,...,...,...,...,...,...,...,...,...
682,1248,No,Yes,Yes,Sometimes,Yes,Yes,No,No,Don't know
683,1249,No,Yes,Yes,Sometimes,Yes,Yes,Yes,Don't know,No
684,1252,No,Yes,Yes,Sometimes,Yes,Yes,Yes,Yes,No
685,1255,No,Yes,Yes,Often,Yes,Yes,Yes,No,No
686,1256,No,Yes,Yes,Sometimes,Yes,Yes,Yes,No,No

In [268]:
# dropping unneeded columns
mh_cleaned = mh_cleaned.drop(['index', 'self_employed', 'tech_company'], axis=1)
mh_cleaned

,family_history,treatment,work_interfere,benefits,care_options,wellness_program,seek_help
0,Yes,Yes,Sometimes,Yes,Yes,No,No
1,No,Yes,Often,Yes,Yes,No,No
2,Yes,Yes,Rarely,Yes,Not sure,Don't know,Yes
3,Yes,Yes,Rarely,Yes,Yes,Don't know,Don't know
4,No,Yes,Sometimes,Don't know,Not sure,No,Don't know
...,...,...,...,...,...,...,...
682,Yes,Yes,Sometimes,Yes,No,No,Don't know
683,Yes,Yes,Sometimes,Yes,Yes,Don't know,No
684,Yes,Yes,Sometimes,Yes,Yes,Yes,No
685,Yes,Yes,Often,Yes,Yes,No,No
686,Yes,Yes,Sometimes,Yes,Yes,No,No

## Processing

In [269]:
# finding and replacing operations

def code_mcq(df,col):
    for o in df[col].unique():
        if o == 'Not sure' or o == "Don't know":
            df[col] = df[col].replace(o, 0)
            
        if o == 'Yes':
            df[col] = df[col].replace(o, 1)
                
        if o == 'No':
            df[col] = df[col].replace(o, 2)
        
    return df

In [270]:
code_mcq(mh_cleaned, 'benefits')
code_mcq(mh_cleaned, 'care_options')
code_mcq(mh_cleaned, 'wellness_program')
code_mcq(mh_cleaned, 'seek_help')

,family_history,treatment,work_interfere,benefits,care_options,wellness_program,seek_help
0,Yes,Yes,Sometimes,1,1,2,2
1,No,Yes,Often,1,1,2,2
2,Yes,Yes,Rarely,1,0,0,1
3,Yes,Yes,Rarely,1,1,0,0
4,No,Yes,Sometimes,0,0,2,0
...,...,...,...,...,...,...,...
682,Yes,Yes,Sometimes,1,2,2,0
683,Yes,Yes,Sometimes,1,1,0,2
684,Yes,Yes,Sometimes,1,1,1,2
685,Yes,Yes,Often,1,1,2,2
686,Yes,Yes,Sometimes,1,1,2,2

In [271]:
mh_cleaned.to_csv('../../data/processed/mh_cleaned_gc.csv', index=None)

# Method Chaining

In [272]:
# initial filtering of rows and columns
mh0 = (
    pd.read_csv('../../data/raw/mentalhealthintech.csv')
       .loc[:, ['self_employed', 'family_history', 'treatment', 'work_interfere', 'tech_company', 'benefits', 'care_options', 'wellness_program', 'seek_help']]
       .loc[lambda row : row['self_employed'].str.find('Yes')== -1]
       .loc[lambda row : row['tech_company'].str.find('No') == -1]
      )

mh0

,self_employed,family_history,treatment,work_interfere,tech_company,benefits,care_options,wellness_program,seek_help
20,No,Yes,Yes,Sometimes,Yes,Yes,Yes,No,No
22,No,No,Yes,Often,Yes,Yes,Yes,No,No
24,No,Yes,Yes,Rarely,Yes,Yes,Not sure,Don't know,Yes
26,No,No,No,NaN,Yes,Don't know,Not sure,No,Don't know
27,No,Yes,Yes,Rarely,Yes,Yes,Yes,Don't know,Don't know
...,...,...,...,...,...,...,...,...,...
1252,No,Yes,Yes,Sometimes,Yes,Yes,Yes,Yes,No
1254,No,No,Yes,NaN,Yes,No,No,No,No
1255,No,Yes,Yes,Often,Yes,Yes,Yes,No,No
1256,No,Yes,Yes,Sometimes,Yes,Yes,Yes,No,No
1257,No,No,No,NaN,Yes,No,Yes,No,No

In [273]:
# handling missing data and removing more undesired columns
mh0 = (
    mh0.dropna(axis=0, how='any')
    .reset_index()
    .drop(['index', 'self_employed', 'tech_company'], axis=1)
      )

mh0

,family_history,treatment,work_interfere,benefits,care_options,wellness_program,seek_help
0,Yes,Yes,Sometimes,Yes,Yes,No,No
1,No,Yes,Often,Yes,Yes,No,No
2,Yes,Yes,Rarely,Yes,Not sure,Don't know,Yes
3,Yes,Yes,Rarely,Yes,Yes,Don't know,Don't know
4,No,Yes,Sometimes,Don't know,Not sure,No,Don't know
...,...,...,...,...,...,...,...
682,Yes,Yes,Sometimes,Yes,No,No,Don't know
683,Yes,Yes,Sometimes,Yes,Yes,Don't know,No
684,Yes,Yes,Sometimes,Yes,Yes,Yes,No
685,Yes,Yes,Often,Yes,Yes,No,No
686,Yes,Yes,Sometimes,Yes,Yes,No,No

In [274]:
# coding response options
mh0 = (
    mh0.pipe(code_mcq, col='benefits')
    .pipe(code_mcq, col='care_options')
    .pipe(code_mcq, col='wellness_program')
    .pipe(code_mcq, col='seek_help')
      )

mh0

,family_history,treatment,work_interfere,benefits,care_options,wellness_program,seek_help
0,Yes,Yes,Sometimes,1,1,2,2
1,No,Yes,Often,1,1,2,2
2,Yes,Yes,Rarely,1,0,0,1
3,Yes,Yes,Rarely,1,1,0,0
4,No,Yes,Sometimes,0,0,2,0
...,...,...,...,...,...,...,...
682,Yes,Yes,Sometimes,1,2,2,0
683,Yes,Yes,Sometimes,1,1,0,2
684,Yes,Yes,Sometimes,1,1,1,2
685,Yes,Yes,Often,1,1,2,2
686,Yes,Yes,Sometimes,1,1,2,2

In [275]:
def load_and_process(url_or_filepath):
    
    # method chain 1: initial filtering of rows and columns
    
    df1 = (
    pd.read_csv(url_or_filepath)
       .loc[:, ['self_employed', 'family_history', 'treatment', 'work_interfere', 'tech_company', 'benefits', 'care_options', 'wellness_program', 'seek_help']]
       .loc[lambda row : row['self_employed'].str.find('Yes')== -1]
       .loc[lambda row : row['tech_company'].str.find('No') == -1]
      )
    
    # method chain 2: handling missing data and removing more undesired columns
    
    df2 = (
    df1.dropna(axis=0, how='any')
    .reset_index()
    .drop(['index', 'self_employed', 'tech_company'], axis=1)
      )
    
    # method chain 3: coding response options
    
    df3 = (
    df2.pipe(code_mcq, col='benefits')
    .pipe(code_mcq, col='care_options')
    .pipe(code_mcq, col='wellness_program')
    .pipe(code_mcq, col='seek_help')
      )
    
    return df3

In [276]:
mh0 = load_and_process('../../data/raw/mentalhealthintech.csv')
mh0.head()

,family_history,treatment,work_interfere,benefits,care_options,wellness_program,seek_help
0,Yes,Yes,Sometimes,1,1,2,2
1,No,Yes,Often,1,1,2,2
2,Yes,Yes,Rarely,1,0,0,1
3,Yes,Yes,Rarely,1,1,0,0
4,No,Yes,Sometimes,0,0,2,0

## Testing new function

In [278]:
from scripts import project_functions_gc as pfg

In [281]:
mh0 = pfg.load_and_process('../../data/raw/mentalhealthintech.csv')
mh0

,family_history,treatment,work_interfere,benefits,care_options,wellness_program,seek_help
0,Yes,Yes,Sometimes,1,1,2,2
1,No,Yes,Often,1,1,2,2
2,Yes,Yes,Rarely,1,0,0,1
3,Yes,Yes,Rarely,1,1,0,0
4,No,Yes,Sometimes,0,0,2,0
...,...,...,...,...,...,...,...
682,Yes,Yes,Sometimes,1,2,2,0
683,Yes,Yes,Sometimes,1,1,0,2
684,Yes,Yes,Sometimes,1,1,1,2
685,Yes,Yes,Often,1,1,2,2
686,Yes,Yes,Sometimes,1,1,2,2